Mk-Digital-entrepreneurship
Mk-Machine-learning        
Mk-Metode-penelitian       
Mk-Pemogramaan-web-1       
Mk-Pengolahan-citra-digital
Mk-Sistem-informasi-manajemen
Mk-Teknik-riset-operasional
UTS
JAWABAN SOAL FORUM DISKUSI.docx
Jawaban soal pekan 4 (Digital - Teknik riset).docx
Prompt-.txt