==================Mata Kuliah========================
Mk-Digital-entrepreneurship
Mk-Machine-learning        
Mk-Metode-penelitian             
Mk-Sistem-informasi-manajemen
Mk-Teknik-riset-operasional

==================Dokumen penting====================
UTS
JAWABAN SOAL FORUM DISKUSI.docx
Jawaban soal pekan 4 (Digital - Teknik riset).docx
Prompt-.txt
*Folder-Fikri
PKM