        body{
            font-family: Arial, sans-serif;
            margin:0;
            padding:0;

            /* BACKGROUND GAMBAR */
            background: url('sky.jpg') no-repeat center center fixed;
            background-size: cover;
        }

        /* HEADER */
        .header{
            padding:20px;
            text-align:center;
            font-size:28px;
            font-weight:bold;
            backdrop-filter: blur(2px);
            background: rgba(255,255,255,0.2);
            backdrop-filter: blur(4px);
            color:white;
            text-shadow:1px 1px 2px black;
        }

        /* SIDEBAR TRANSPARAN */
        .sidebar{
            width:250px;
            float:left;
            background:rgb(60, 55, 55);
            height:100vh;
            padding-top:20px;
            border-right:4px solid #ccc;


            background: rgba(255,255,255,0); /* 0 = transparan */
            border-right: 3px solid rgba(255,255,255,0.4);
            backdrop-filter: blur(0px); /* efek clear */
        }

        /* Tulisan MENU */
        .sidebar-title{
            font-size:22px;
            font-weight:bold;
            padding:15px;
            margin:10px;
            margin-bottom:15px;
            color:#ffffff;
        }

        /* LINK MENU */
        .sidebar a{
            display:block;
            padding:15px;
            margin:10px;
            text-decoration:none;
            font-size:18px;

            /* Transparan & putih */
            color:white;
            border-radius:8px;
            background: rgba(255,255,255,0.1); 
            backdrop-filter: blur(2px);
        }

        .sidebar a:hover{
            background: rgba(235, 185, 45, 0.6);
            color:white;
        }

        /* KONTEN */
        .content{
            margin-left:270px;
            padding:20px;
        }

        /* HALAMAN */
        .page{
            display:none;
            padding:20px;
            border-radius:12px;
            border:1px solid rgba(255,255,255,0.5);

            /* Background bening */
            background: rgba(255,255,255,0.2);
            backdrop-filter: blur(4px);
            color:white;
            text-shadow:1px 1px 2px black;
        }

        #tentang:target,
        #hobi:target,
        #kontak:target{
            display:block;
        }

        #tentang{
            display:block;
        }

        /* FOOTER */
        .footer{
            clear:both;
            color:white;
            text-align:center;
            padding:15px;
            position:fixed;
            bottom:0;
            width:100%;
            backdrop-filter: blur(3px);
            background: rgba(255,255,255,0.2);
            backdrop-filter: blur(4px);
            color:white;
            text-shadow:1px 1px 2px black;
        }